.tp-static-layers {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0) 50%);
  @include bp-medium {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 75%);
  }
  @include bp-small {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  }
}

.tp-tab.selected .arrow-up {
  position: relative;
  left: 108px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  margin-top: -12px;
}

.tp-tab-mask[style] {
  overflow: visible !important;
}

.slide-title-wrapper {
  font-weight: normal;
  @include font-size(12);
  @include line-height(16);
}

.slide-title {
  padding: 5px;
}

/* tabs container */
.my-slider-tabs {
  @include container(1140px);
  padding: 0 0.5em;
  display: table;
  // position: absolute;
  //bottom: 0;
  //left: auto;
  z-index: 9999;
  overflow-x: hidden;
  min-height: 66px;

}

/* individual tabs */
.my-slider-tabs a {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;

  font-family: $font__main;
  @include font-size(14);
  @include line-height(20);
  color: #FFF;

  /* top and bottom spacing for tab text */
  padding: 15px 0 15px 0;

  background-color: #000; /* IE8 fallback */
  background-color: rgba(0, 0, 0, 0);

  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  @include bp-medium {
    @include font-size(12);
    @include line-height(16);
  }

}

/* active tab styles */
.my-slider-tabs a.tab-active {
  opacity: 1;
  /* normal cursor for active tab */
  cursor: auto;

  /* colored line for active tab */
  //border-top: 5px solid #FFF;

}

/* tab background, active state and mouse over */
.my-slider-tabs a.tab-active,
.my-slider-tabs a:hover {

  opacity: 1;
}

/* tab font size on landscape mobile */
@media screen and (max-width: 640px) {

  .my-slider-tabs a {
    font-size: 10px;
  }

}

/* tab font size on portrait mobile */
@media screen and (max-width: 360px) {

  .my-slider-tabs a {
    font-size: 8px;
  }

}

.slider-tab-wrapper {
  height: 67px;
  width: 100%;
  position: absolute;
  z-index: 9999;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include bp-medium {
    display: none;
  }
}

iframe {
  border: 0px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.slider-fallback {
  display: table;
  width: 100%;
  min-height: 300px;
  background: no-repeat top center;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;

  @include bp-small {
    min-height: 150px;
  }

  .slider-fallback-title-wrapper {
    display: table-cell;
    width: 100%;
    background-color: hsla(145, 69%, 30%, 0.6);
    vertical-align: middle;
    text-align: center;
    .slider-fallback-container {
      display: table;
      margin: 0 auto;
      img {
        width: 50px;
        margin-right: 10px;
        vertical-align: middle;
        @include bp-small {
          display: block;
          margin: auto;
          width: 30px;
          padding-top: 14px;
          padding-bottom: 15px;
        }
      }
      @include bp-small {
        display: block;
      }
    }

    span {
      color: #FFF;
      text-transform: uppercase;
      @include font-size(24);
      display: table-cell;
      vertical-align: middle;
      font-weight: 700;
      text-align: left;
      @include bp-medium {
        @include font-size(19);
        display: block;
        text-align: center;

      }
    }

  }

  h1.slider-fallback-title {
    color: #fff;
    //display: table-cell;

    @include font-size(50);
    @include line-height(120);
    @include bp-small {
      @include font-size(25);
      @include line-height(26);
    }
  }
}
