
.site-branding {
  padding: 6rem 0;
  text-align: center;
  background: #2c86ba;
  background: hsl(202, 62%, 45%);
  @include bp-medium{
    padding: 0;
  }

}

.site-title {
  font-weight: 700;
  font-size: 40px;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 1rem;
}

.site-description {
  font-weight: 100;
  font-size: 20px;
  font-size: 2rem;
}

.site-title a,
.site-description {
  color: #fff;
  color: hsl(0, 0%, 100%);
  border: none;
}

.title-box {
  width: 1140px;
  max-width: 75%;
  padding: 4rem;
  margin: 0 auto;
  border: solid 1px #fff;
  border: solid 1px hsla(0, 0%, 100%, .3);
  @include bp-medium{
    max-width: 100%;
    margin: 0;
    padding: 4rem;
    border: none;
  }
}

.header-image img{
  display: block;
  margin: 0 auto;
}


.header-background-image {
  background: no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;
}

.header-background-image .title-box {
  background: #333;
  background: hsla(0, 0%, 0%, .7);
}
