$size__site-main: 100%;
$size__site-sidebar: 380px;
$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        container: 1140px,
        container-position: center,
        gutter-position: outside,
        global-box-sizing: content-box,

);