ul#repertoire.menu {
  margin: 0;
}

.repertoire-navigation {
  @include font-size(14);
  @include line-height(20);
  position: absolute;
  bottom: 66px;
  float: left;
  width: 100%;
  display: block;
  clear: both;
  background: #000;
  background: hsla(0, 0%, 0%, 0.5);
  a {
    display: block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    line-height: 1.3em;
    color:  hsl(230, 10% , 70%);
    max-width: 210px;
  }
  li {
    position: relative;
    list-style: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &:hover > a,
    &.focus > a {

    }
  }
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    color: #fff;
  }

  @include bp-medium {
    @include font-size(12);
    @include line-height(16);
  }
  @include bp-small {
    display: none;
  }
}
.main-navigation {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  clear: both;
  background: #fff;
  background: hsl(0, 0%, 100%);

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
      float: left;
      position: absolute;
      left: -999em;
      z-index: 99999;
      background: #fff;

      @include bp-small {
        display: block;
        position: relative;
        left: 0;
        top: inherit;
        float: none;
        padding-left: 1em;
        box-shadow: none;

      }

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;

        }
      }

      a {
        width: 200px;
        @include bp-small {
          width: 100%;
        }
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;
    @include bp-small {
      float: none;
    }
    &:hover > a,
    &.focus > a {
      background: #e6e6e6;

    }
  }

  a {
    display: block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    line-height: 1.3em;
    color:  $color__text-main;
    @include bp-small {
      padding: 0.8em;
      width:100%;
    }
  }


  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    background: #e2000b;
    color: #fff;
  }

}

/* Small menu. */
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  display: block;
  //width:2em;
  //height: 2em;
  @include font-size(14);
  @include line-height(24);
  background: #ffffff;
  border: none;
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(14);
  @include line-height(18);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  box-shadow: none;
  text-transform: uppercase;

}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.sub-menu {
  padding-bottom: 1.3em;
  @include bp-small {
    padding-bottom: 0em;
  }

  a {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    &:hover {
      background: #fff;
    }
  }
  
}
